@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');



*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   font-family: 'Open Sans', sans-serif;
   /*font-family: 'Poppins', sans-serif;*/
}

.container{
width: 100%;
height: 600vh;
background-image:linear-gradient(to top #e4e4e4,#c3c3c5, #f1f2f6,#dddddd);
}

.header{ 
    height: 80px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    position: absolute;
    justify-content:space-around;
    align-items: center;
    position: fixed;
    background-color: #fff;
    box-shadow: 0 5px 5px #cbcdd6;  
}

.menu a{
height: 40px;
width: 110px;
font-weight: 550;
color: #161414;
letter-spacing: 0.3px;
margin-left: 30px;
font-size: 16.8px;
}

.menu a:hover{
    color: #f02df0;
}


.header .btn{
height: 40px;
width: 130px;
border-radius: 35px;
border: 1px solid #f02df0;
color: #f02df0;
text-align: center;
line-height: 35px;
font-weight: 600;
font-size: 16px;
cursor: pointer;
transition: all .8s ease;
}

.header .btn:hover{
    color: #fff;
    background-color: #f02df0;
}

#home .content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    gap: 20px;
}


.home-text{
    width: 500px;
    height: 500px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.home-text div:nth-child(1){
    font-size: 18px;
    font-weight: 700;
    color: #f02df0;
}


.home-text div:nth-child(2){
    font-size: 36px;
    font-weight: 700;
    color: #000;
}


.home-text div:nth-child(3){
    font-size: 16px;
    font-weight: 100;
    color: #909090;
    line-height: 28px;
}

.home-text .btn{
    height: 40px;
width: 130px;
border-radius: 35px;
border: 1px solid #f02df0;
color: #f02df0;
text-align: center;
line-height: 35px;
font-weight: 600;
font-size: 16px;
cursor: pointer;
transition: all .8s ease;
}


.home-text .btn:hover{
    color: #fff;
    background-color: #f02df0;
}

.home-text .website-traffic img{
    object-fit: cover;
}

#about .content{
    margin-top:40px ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    gap: 20px;
}


.about-text{
    width: 500px;
    height: 500px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.about-text-header{
    font-size: 18px;
    font-weight: 700;
    color: #8000ff;
}


.about-text-name{
    font-size: 36px;
    font-weight: 700;
    color: #000;
    width: 500px;
    height: 40px;
}

.about-text-name::after{
    display: block;
    content: "";
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    height: 3px;
    width: 10%;
    background-color: #8000ff;
}

.about-text-content{
    font-size: 16px;
    font-weight: 100;
    color: #909090;
    line-height: 28px;
    width: 500px;
    height: 40px;
    margin-top: 30px;
}

.degree-ball{
margin-top: 60px;
height: 120px;
display: flex;
gap: 30px;
justify-content: center;
align-items: center;
}

.degree-ball div{
height: 130px;
width:130px;
border-radius: 50%;
background-color: #ffffff;
display: flex;
flex-direction: column;
gap: 3px;
justify-content: center;
align-items: center;
border: 6px solid #bfbfbf4f;
border-right-color:#cbcdd6 ;
border-bottom-color: #8000ff;
border-left-color: #8000ff;
}

.degree-ball div h1{
    font-size: 36px;
    font-weight: 700;
    color: #000;
}

.degree-ball div p{
    font-size: 16px;
    font-weight: 100;
    color: #909090;
}

.degree-ball div:nth-child(1){
    border: 4px solid #bfbfbf4f;
    border-right-color:#f02df0;
    border-bottom-color: #f02df0;
    border-left-color:#f02df0;
}

.degree-ball div:nth-child(2){
    border: 4px solid #bfbfbf4f;
    border-right-color:#8000ff;
    border-bottom-color:#8000ff;
}

.degree-ball div:nth-child(3){
    border: 4px solid #bfbfbf4f;
    border-right-color:#ff8503;
    border-bottom-color: #ff8503;
}

#service .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    gap: 20px;
    position: relative;
}

.our-services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.services-header div:nth-child(1){
    font-size: 18px;
    font-weight: 700;
    color: #8000ff;
    text-align: center;
    position: relative;
}


.services-header div:nth-child(2)
{   text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: #000;
    width: 600px;
    height: 40px;
    position: relative;
}

.services-header div:nth-child(2)::after{
    display: block;
    content: "";
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    left: 280px;
    height: 3px;
    width: 10%;
    background-color: #8000ff;
}

.services ul{
    list-style: none;
    display: flex;
    margin-top: 130px;
    margin-left: 90px;
    gap: 4px;
}


.services ul li{
    width: 140px;
    height: 160px; 
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.services ul li p{
    font-size: 19px;
    font-weight: 800;
    color: #000;
}

.services ul li:focus{
    box-shadow: 5px 5px 4px #c2c2c2a0, -5px -5px 4px #c2c2c2a0;
    background-color: #fff;
}

.get-with-us-now{
    margin-top: 30px;
    width: 100%;
    height: 50vh;
    background-image:linear-gradient(to left, #b948bd, #9268a8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    position: relative;
}


.get-head div:nth-child(1){
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    position: relative;
}

.get-head div:nth-child(2)
{   text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: #ffffff;
    width: 600px;
    height: 40px;
    position: relative;
}

.get-head div:nth-child(2)::after{
    display: block;
    content: "";
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    left: 280px;
    height: 3px;
    width: 10%;
    background-color: #ffffff;
}

.get-input{
    width: 750px;
    height: 90px;
    background-color: #ffffff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.input input{
    width: 210px;
    height: 60px;
    outline: none;
    border: none;
    font-size: 18px;
}

::placeholder{
    font-size: 18px;
    font-weight: 400;
    color: #929292;
}

.get-input .btn{
    width: 240px;
    height: 90px;
    outline: none;
    border: none;
   border-radius: 0 50px 50px 0;
   background-color: #3d49b8;
   position: relative;
   left: 23px;
   color: #fff;
   font-size: 18px;
   cursor: pointer;
   opacity: 0.85;
}


 #project .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    gap: 20px;
    position: relative;
}


.project-header{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    justify-content: first baseline;
    margin-left: 150px;
}
.project-header div:nth-child(1){
    font-size: 18px;
    font-weight: 700;
    color: #8000ff;
    position: relative;
}


.project-header div:nth-child(2)
{   
    font-size: 36px;
    font-weight: 700;
    color: #000;
    width: 600px;
    height: 40px;
    position: relative;
}

.project-header div:nth-child(2)::after{
    display: block;
    content: "";
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    height: 2px;
    width: 10%;
    background-color: #8000ff;
}


.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    width: 250px;
    height: 370px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-top: 20px;
    box-shadow: 5px 0px 5px #c0c0c0, -5px -5px 5px #c0c0c0;
  }

  .swiper-slide img {
    display: block;
    width: 250px;
    height: 270px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
  }
  
 
  .swiper-slide div{
    width: 250px;
    height: 80px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:0 0 20px 20px;
  }

  .swiper-slide div p{
    font-size: 16px;
    font-weight: 100;
    color: #909090;
  }






































































































































