@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Poppins', sans-serif;*/
}

.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top #e4e4e4, #c3c3c5, #f1f2f6, #dddddd);
}

.header {
    height: 80px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-color: #fff;
    box-shadow: 0 5px 5px #cbcdd6;
    z-index: 11111;
}


.menu a {
    height: 100%;
    width: 110px;
    font-weight: 550;
    color: #161414;
    letter-spacing: 0.3px;
    margin-left: 30px;
    font-size: 16.8px;
}

.menu a:hover {
    color: #f02df0;
}


.header .btn {
    height: 40px;
    width: 130px;
    border-radius: 35px;
    border: 1px solid #f02df0;
    color: #f02df0;
    text-align: center;
    line-height: 35px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: all .8s ease;
}

.header .btn:hover {
    color: #fff;
    background-color: #f02df0;
}

#home .content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    gap: 20px;
}


.home-text {
    width: 500px;
    height: 500px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.home-text div:nth-child(1) {
    font-size: 18px;
    font-weight: 700;
    color: #f02df0;
}


.home-text div:nth-child(2) {
    font-size: 36px;
    font-weight: 700;
    color: #000;
}


.home-text div:nth-child(3) {
    font-size: 16px;
    font-weight: 100;
    color: #909090;
    line-height: 28px;
}

.home-text .btn {
    height: 40px;
    width: 130px;
    border-radius: 35px;
    border: 1px solid #f02df0;
    color: #f02df0;
    text-align: center;
    line-height: 35px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: all .8s ease;
}


.home-text .btn:hover {
    color: #fff;
    background-color: #f02df0;
}

.home-text .website-traffic img {
    object-fit: cover;
}

#about .content {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    gap: 20px;
}


.about-text {
    width: 500px;
    height: 500px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.about-text-header {
    font-size: 18px;
    font-weight: 700;
    color: #8000ff;
}


.about-text-name {
    font-size: 36px;
    font-weight: 700;
    color: #000;
    width: 500px;
    height: 40px;
}

.about-text-name::after {
    display: block;
    content: "";
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    height: 3px;
    width: 10%;
    background-color: #8000ff;
}

.about-text-content {
    font-size: 16px;
    font-weight: 100;
    color: #909090;
    line-height: 28px;
    width: 500px;
    height: 40px;
    margin-top: 30px;
}

.degree-ball {
    margin-top: 60px;
    height: 120px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.degree-ball div {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: center;
    align-items: center;
    border: 6px solid #bfbfbf4f;
    border-right-color: #cbcdd6;
    border-bottom-color: #8000ff;
    border-left-color: #8000ff;
}

.degree-ball div h1 {
    font-size: 36px;
    font-weight: 700;
    color: #000;
}

.degree-ball div p {
    font-size: 16px;
    font-weight: 100;
    color: #909090;
}

.degree-ball div:nth-child(1) {
    border: 4px solid #bfbfbf4f;
    border-right-color: #f02df0;
    border-bottom-color: #f02df0;
    border-left-color: #f02df0;
}

.degree-ball div:nth-child(2) {
    border: 4px solid #bfbfbf4f;
    border-right-color: #8000ff;
    border-bottom-color: #8000ff;
}

.degree-ball div:nth-child(3) {
    border: 4px solid #bfbfbf4f;
    border-right-color: #ff8503;
    border-bottom-color: #ff8503;
}

#service .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    gap: 20px;

}

.our-services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.services-header div:nth-child(1) {
    font-size: 18px;
    font-weight: 700;
    color: #8000ff;
    text-align: center;
    
}


.services-header div:nth-child(2) {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: #000;
    width: 600px;
    height: 40px;
    
}

.services-header div:nth-child(2)::after {
    display: block;
    content: "";
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    left: 280px;
    height: 3px;
    width: 10%;
    background-color: #8000ff;
}

.services ul {
    list-style: none;
    display: flex;
    margin-top: 130px;
    margin-left: 90px;
    gap: 4px;
}


.services ul li {
    width: 140px;
    height: 160px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}

.services ul li p {
    font-size: 19px;
    font-weight: 800;
    color: #000;
}

.services ul li:focus {
    box-shadow: 5px 5px 4px #c2c2c2a0, -5px -5px 4px #c2c2c2a0;
    background-color: #fff;
}

.get-with-us-now {
    margin-top: 30px;
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(to left, #b948bd, #9268a8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}


.get-head div:nth-child(1) {
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}

.get-head div:nth-child(2) {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: #ffffff;
    width: 600px;
    height: 40px;
}

.get-head div:nth-child(2)::after {
    display: block;
    content: "";
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    left: 280px;
    height: 3px;
    width: 10%;
    background-color: #ffffff;

}

.get-input {
    width: 750px;
    height: 90px;
    background-color: #ffffff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.input input {
    width: 210px;
    height: 60px;
    outline: none;
    border: none;
    font-size: 18px;

}

::placeholder {
    font-size: 18px;
    font-weight: 400;
    color: #929292;
}

.get-input .btn {
    width: 240px;
    height: 90px;
    outline: none;
    border: none;
    border-radius: 0 50px 50px 0;
    background-color: #3d49b8;
    position:relative;
    left: 23px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    opacity: 0.85;
}


#project .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    gap: 20px;
    
}


.project-header {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    justify-content: first baseline;
    margin-left: 150px;
   
}

.project-header div:nth-child(1) {
    font-size: 18px;
    font-weight: 700;
    color: #8000ff;
 
}


.project-header div:nth-child(2) {
    font-size: 36px;
    font-weight: 700;
    color: #000;
    width: 600px;
    height: 40px;
    
}

.project-header div:nth-child(2)::after {
    display: block;
    content: "";
    margin-top: 10px;
    margin-bottom: 20px;
    height: 2px;
    width: 10%;
    background-color: #8000ff;
}


.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    width: 250px;
    height: 370px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-top: 20px;
    box-shadow: 5px 0px 5px #c0c0c0, -5px -5px 5px #c0c0c0;
    cursor: pointer;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 270px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}


.swiper-slide div {
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 20px 20px;
}

.swiper-slide div p {
    font-size: 16px;
    font-weight: 100;
    color: #909090;
}

#blog .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    gap: 20px;
    
}


.blog-header div:nth-child(1) {
    font-size: 16px;
    font-weight: 700;
    color: #8000ff;
    text-align: center;
    
}


.blog-header div:nth-child(2) {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: #000;
    width: 600px;
    height: 40px;
    
}

.blog-header div:nth-child(2)::after {
    display: block;
    content: "";
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    left: 280px;
    height: 3px;
    width: 10%;
    background-color: #8000ff;
}

#blog .box{
    margin-top: 50px;
    width: 800px;
    height: 600px;
    display: flex;
    gap: 40px;
}

.box .box-1{
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
    box-shadow: 2px 2px 3px #9090907e, -2px -2px 3px #90909082;
    border-radius: 20px 20px 0 0;
}

.box-1 div img{
    border-radius: 20px 20px 0 0;
}

.box-1-text{
    width: 800px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 20px;

}

.seo-analysis{
    width: 350px;
    height: 40px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.seo-analysis div:nth-child(1){
height: 30px;
width: 100px;
border-radius: 20px;
background-color: #8000ff;
text-align: center;
font-size: 11px;
color: #fff;
line-height: 30px;
}

.seo-analysis div:nth-child(2){
color: #909090;
font-size: 11px;
}

.box-text{
    height: 100px;
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.box-text div:nth-child(1){
    color: #000;
    font-size: 19px;
    font-weight: 700;

}

.box-text div:nth-child(2){
    color: #909090;
    font-size: 12px;
    line-height: 20px;
}

.blog-profile{
    height: 40px;
    width: 350px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.profile-image{
    height: 40px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.blog-profile div img{
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit:cover;
}

.blog-profile div:nth-child(2){
    font-size: 14px;
    font-weight: 400;
    color: #000;
}

.blog-profile .btn {
    height: 40px;
    width: 130px;
    border-radius: 35px;
    border: 1px solid #f02df0;
    color: #f02df0;
    text-align: center;
    line-height: 35px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: all .8s ease;
}

.blog-profile .btn:hover {
    color: #fff;
    background-color: #f02df0;
}

.box .box-2{
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18px;
    padding-left: 20px;
}

.box-2-text{
display: flex;
justify-content: center;
align-items: center;
gap: 20px;
}

.box-2-text div:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blogtext{
    height: 150px;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.box-2-text div img{
    border-radius:20px ;
}

.blogtext div:nth-child(1){
    color: #000;
    font-size: 19px;
    font-weight: 700;

}

.blogtext div:nth-child(2){
    color: #909090;
    font-size: 12px;
    line-height: 20px;
}

.seo-analysis-2{
    width: 190px;
    height: 30px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.seo-analysis-2 div:nth-child(1){
height: 30px;
width: 100px;
border-radius: 20px;
background-color: #8000ff;
text-align: center;
font-size: 11px;
color: #fff;
line-height: 30px;
}

.seo-analysis-2 div:nth-child(2){
color: #909090;
font-size: 11px;
}


#contact .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    gap: 20px;
    
}

.contact-header div:nth-child(1) {
    font-size: 16px;
    font-weight: 700;
    color: #8000ff;
    text-align: center;
    
}


.contact-header div:nth-child(2) {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: #000;
    width: 600px;
    height: 40px;
    margin-bottom: 30px;
    
}

.contact-header div:nth-child(2)::after {
    display: block;
    content: "";
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    left: 280px;
    height: 3px;
    width: 10%;
    background-color: #8000ff;
}

#contact .form{
    margin-top: 50px;
    width: 860px;
    height: 500px;
    display: flex;
    gap: 40px;
    background-color: #f4eaea4f;
    border-radius: 30px;
}


.contact-form{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.form .contact{
    height: 150px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.form .contact div{
    height: 130px;
    width: 150px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 2px 2px 3px #9090907e, -2px -2px 3px #90909082;
    ;
}

.form .contact h3{
    height: 30px;
    width: 130px;
    font-size: 13px;
    text-align: center;
}

iframe{
    border-radius: 30px 0 0 30px;
}

::placeholder{
    font-size: 13px;
}

textarea{
    padding-top: 5px;
    padding-left: 10px;
    outline: none;
    border: 1px solid #bbbbbb;
}
form{
display: flex;
flex-direction:row;
justify-content: center;
align-items: center;
gap: 10px;
}

form div:nth-child(1){
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
}

form input{
    height: 40px;
    width: 250px;
    border-radius:20px;
    outline: none;
    border: 1px solid #bbbbbb;
    padding-left: 20px;
}


button{
    height: 40px;
    width: 500px;
    outline: none;
    border: 1px solid #f02df0;
    background-color: #fff;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    transition: all .7s ease;
    color: #f02df0;
    border-radius: 20px;
}

button:hover{
background-color:#f02df0 ;
color: #fff;
}


.fooder{
    margin-top: 100px;
    height: 10vh;
    background-image: linear-gradient(to left, #b948bd, #9268a8);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}






















































































































































































































































































































































































