@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');



*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   font-family: 'Open Sans', sans-serif;
   /*font-family: 'Poppins', sans-serif;*/
}

.container{
width: 100%;
height: 600vh;
background-color: #f1f2f6;
}

.header{ 
    height: 80px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content:space-around;
    align-items: center;
    position: fixed;
    background-color: #fff;
    box-shadow: 0 5px 5px #cbcdd6;  
}

.menu a{
height: 40px;
width: 110px;
font-weight: 550;
color: #161414;
letter-spacing: 0.3px;
margin-left: 30px;
font-size: 16.8px;
}

.menu a:hover{
    color: #f02df0;
}


.header .btn{
height: 40px;
width: 130px;
border-radius: 35px;
border: 1px solid #f02df0;
color: #f02df0;
text-align: center;
line-height: 35px;
font-weight: 600;
font-size: 16px;
cursor: pointer;
transition: all .8s ease;
}

.header .btn:hover{
    color: #fff;
    background-color: #f02df0;
}

#home .content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    gap: 20px;
}


.home-text{
    width: 500px;
    height: 500px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.home-text div:nth-child(1){
    font-size: 18px;
    font-weight: 700;
    color: #f02df0;
}


.home-text div:nth-child(2){
    font-size: 36px;
    font-weight: 700;
    color: #000;
}


.home-text div:nth-child(3){
    font-size: 16px;
    font-weight: 100;
    color: #909090;
    line-height: 28px;
}

.home-text .btn{
    height: 40px;
width: 130px;
border-radius: 35px;
border: 1px solid #f02df0;
color: #f02df0;
text-align: center;
line-height: 35px;
font-weight: 600;
font-size: 16px;
cursor: pointer;
transition: all .8s ease;
}


.home-text .btn:hover{
    color: #fff;
    background-color: #f02df0;
}

.home-text .website-traffic img{
    object-fit: cover;
}




































































































































































































